.card {
  position: relative;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 8px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: white;
  overflow: hidden;
}

.card img {
  height: 120px;
  object-fit: contain;
  width: 100%;
  margin-bottom: 8px;
}

.like-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  background: transparent;
  border: none;
  font-size: 20px;
  cursor: pointer;
  color: #666;
  transition: color 0.3s;
}

.like-btn.liked {
  color: red;
}

.card-link {
  color: black;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  height: 100%;
}


